.main {
  padding: 1rem;
}
.account-header {
  border: solid 3px var(--secondary-bg-color);
  border-radius: 2px;
  box-shadow: 2px 2px 5px var(--secondary-bg-color);
  padding: 0 1rem;
  background-color: #e4e4e4;

  width: 50%;
  display: flex;
  justify-content: space-between;
}

.account-header button {
  color: green;
}

.account-header button:hover {
  color: green;
  background-color: #e4e4e4;
}

.account-content {
  margin: 1rem 0;
  border: solid 3px var(--secondary-bg-color);
  border-radius: 2px;
  box-shadow: 2px 2px 5px var(--secondary-bg-color);
  padding: 0 1rem;
  background-color: #e4e4e4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account-item {
  display: flex;
  /* outline: solid 1px black; */
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  /* justify-content: space-between; */
}

.account-item-action {
  text-align: right;
}

.account-item > * {
  flex: 1 1 0;
}
