<div class="main">
  <div class="account-header">
    <h2>Les comptes bancaires</h2>
    <button mat-button>
      <mat-icon (click)="onAdd()">add_circle_outline</mat-icon>
    </button>
  </div>

  <div class="account-content">
    <ng-container *ngFor="let account of (accounts$|async)">
      <div class="account-item">
        <p>{{ account.name }}</p>
        <p>{{account.bic}} / {{ account.iban }}</p>
        <p>{{account.balance}}</p>
        <button mat-button>
          <mat-icon (click)="onDelete(account._id)">delete</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</div>
